$light-gray: #c9c9c9;
$gray: #8c8c8c;
$bone-white: #f2f2f2;
$white: #ffffff;
$light-green: #88B578;
$ligh-green-iluminate: #b6d68c;
$light-blue: #738AC5;
$light-blue-iluminate: #85a8dd;

$roboto: 'Roboto', sans-serif;
$normal-font: 'Playfair Display', serif;

$font-big: 36px;
$font-big-mobile: 26px;
$font-medium: 26px;
$font-medium-mobile: 20px;
$font-normal: 16px;