@import '_global_variable';

.project_card{
    background-color: $white;
    max-width: 330px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h2{
        text-align: center;
        margin-bottom: 15px;
    }

    .project_card_img{
        display: flex;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 10px;
        height: 315px;

        justify-content: center;
    }
    
    img{
        width: 100%;
    }

    .project_card_buttons_part{
        display: grid;
        grid-template-columns: 3fr 1fr;

        button{
            font-size: $font-normal;
            border-style: none;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;

            transition: background-color 1s;
            transition: font-size 1s;
        }

        .project_card_go_btn{
            background-color: $light-green;

            &:hover{
                background-color: $ligh-green-iluminate;
                font-size: #{$font-normal + 3px};
            }
        }

        .project_card_github{
            background-color: $light-blue;
            font-size: 24px;

            &:hover{
                background-color: $light-blue-iluminate;
            }
        }
    }
}